<%- include('includes/header.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <form action="/add" method="post">
        <label>
            <input type="text" name="title" placeholder="Title of Recipe"></input>
            <input type="text" name="summary" placeholder="Summary of Recipe"></input>
            <input type="text" name="author" placeholder="Author"></input>
        </label><br>
        <input type="submit" value="Submit"/>
    </form>
    <%- include('includes/footer.ejs') %>
</body>
</html>
