<%- include('includes/header.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
<form action="/add" method="post">
    <label>
        <input type="text" name="recipeName" placeholder="RecipeName"></input>
    </label><br>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>
