<%- include('includes/header.ejs') %>
<body>

<h1>Iterate Recipes Here.</h1>
<ul>
    <% recipes.forEach(function(item) { %>
        <li><%= item.title %></li>
    <% }); %>
</ul>
<a href="/">Add New Recipe</a>
</body>
</html>