<%- include('includes/header.ejs') %>
</head>
<body>
<%- include('includes/navigation.ejs') %>

<h1>Your Meal Plan:</h1>
<h1>ID: <%= productId %></h1>
<ul>
</ul>
<%- include('includes/footer.ejs') %>
</body>
</html>
